<section>
  <div class="jumbotron">
    <div class="container">
      <h1>Datetime Interval with Options</h1>
      <p>Change the dates and times below to automatically calculate your interval and options.</p>
    </div>
  </div>

  {{outlet}}
</section>
