<section>
  <div class="jumbotron">
    <div class="container">
      <h1>Datetime Interval with Options</h1>
      <p>Change the dates and times below to automatically calculate your interval and options.</p>
    </div>
  </div>


  <div class="row-fluid">
    <div class="col-md-12">
      <p><strong>Sample Intervals</strong></p>
      <ul>
        <li>
          {{#link-to 'interval' (query-params from="2015-10-20T11:00:00" to="2015-10-27T13:15:00")}}default example{{/link-to}}
        </li>
        <li>
          {{#link-to 'interval' (query-params from="2015-10-20T11:00:00" to="2015-10-25T11:00:00")}}five days{{/link-to}}
        </li>
        <li>
          {{#link-to 'interval' (query-params from="2015-10-20T11:00:00" to="2015-10-30T11:00:00")}}ten days{{/link-to}}
        </li>
        <li>
          {{#link-to 'interval' (query-params from="2015-10-20T11:00:00" to="2016-01-20T11:00:00")}}three months{{/link-to}}
        </li>
        <li>
          {{#link-to 'interval' (query-params from="2010-10-20T11:00:00" to="2015-10-27T11:00:00")}}5 years{{/link-to}}
        </li>
      </ul>
    </div>
  </div>

  {{interval-options from=from to=to}}

</section>
